/* 自动编号标题 */
body {
    counter-reset: h1counter;
}

h1 {
    counter-reset: h2counter;
    counter-increment: h1counter;
}

h2 {
    counter-reset: h3counter;
    counter-increment: h2counter;
}

h3 {
    counter-reset: h4counter;
    counter-increment: h3counter;
}

h4 {
    counter-reset: h5counter;
    counter-increment: h4counter;
}

h5 {
    counter-reset: h6counter;
    counter-increment: h5counter;
}

h6 {
    counter-increment: h6counter;
}

h1:before {
    content: counter(h1counter) ".\0000a0\0000a0";
}

h2:before {
    content: counter(h1counter) "." counter(h2counter) ".\0000a0\0000a0";
}

h3:before {
    content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
}

h4:before {
    content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".\0000a0\0000a0";
}

h5:before {
    content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) ".\0000a0\0000a0";
}

h6:before {
    content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) "." counter(h6counter) ".\0000a0\0000a0";
}